{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Instagram</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/home_page/custom-css-home-page.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/home_page/one-page-wonder.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <style>
        body {
            background: #FAFAFA;
        }
    </style>
</head>

<body>

<!-- Navigation -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand text-font-shadowintrolight" href="{% url 'home' %}" style="margin-right: 60px;">
                <img id="img-logo-web" src="{% static 'images/logo-web/instagram-logo.png' %}">
                | Instagram</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <a class="nav-link text-center" href="{% url 'home' %}"><i class="far fa-compass"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="{% url 'personal_page' user_profile.user.username %}">
                            <i class="far fa-user"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container" style="margin-top: 130px;min-height: 700px;width: 820px;background: #FFFFFF;">
    <div class="row border" style="min-height: 600px;">
        <div class="col-md-3 border-right">
            {% if errors %}
                <div class="col-md-12 " style="margin-top: 20px;">
                    <p id="btn-edit-profile-setting" class="p-tag-setting">
                        Edit Profile</p>
                </div>
                <hr>
                <div class="col-md-12" style="margin-top: 30px">
                    <p id="btn-change-password-setting" class="p-tag-setting active-p-bold">
                        Change password</p>
                </div>
            {% else %}
                <div class="col-md-12 " style="margin-top: 20px;">
                    <p id="btn-edit-profile-setting" class="p-tag-setting active-p-bold">
                        Edit Profile</p>
                </div>
                <hr>
                <div class="col-md-12" style="margin-top: 30px">
                    <p id="btn-change-password-setting" class="p-tag-setting">
                        Change password</p>
                </div>
            {% endif %}


        </div>
        <div class="col-md-9">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-3 text-right">
                    {% if user_profile.avatar %}
                        <img class="avatar-user-setting" src="{{ user_profile.avatar.url }}">
                    {% else %}
                        <img class="avatar-user-setting" src="{% static 'images/empty_avatar-300x300.jpg' %}">
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <p class="p-username-setting"><b>{{ user_profile.user.username }}</b></p>
                </div>
            </div>
        <hr>
            <div class="row" style="margin-top: 20px;">
                {% if errors %}
                    <div class="col-md-12" id="div-edit-profile" style="display: none;">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-3 text-right" style="margin-top: 8px;">
                                    <p><b>First name</b></p>
                                </div>
                                <div class="col-md-7">
                                    {% render_field form.first_name value=user_profile.user.first_name %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-right" style="margin-top: 8px;">
                                    <p><b>Last name</b></p>
                                </div>
                                <div class="col-md-7">
                                    {% render_field form.last_name value=user_profile.user.last_name %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-right" style="margin-top: 8px;">
                                    <p><b>Email name</b></p>
                                </div>
                                <div class="col-md-7">
                                    {% render_field form.email value=user_profile.user.email %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-right" style="margin-top: 8px;">
                                    <p><b>Website</b></p>
                                </div>
                                <div class="col-md-7">
                                    {% render_field form.website value=user_profile.website %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-right" style="margin-top: 8px;">
                                    <p><b>Description</b></p>
                                </div>
                                <div class="col-md-7">
                                    {% render_field form.description value=user_profile.description %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-right" style="margin-top: 8px;">
                                    <p><b>Phone</b></p>
                                </div>
                                <div class="col-md-7">
                                    {% render_field form.phone value=user_profile.phone %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-right" style="margin-top: 8px;">
                                    <p><b>Sex</b></p>
                                </div>
                                <div class="col-md-7">
                                    <select class="form-control" name="sex">
                                        {% for foo in form.sex.field.choices %}
                                            <option value="{{ foo.0 }}"
                                                    {% if  foo.0  ==  user_profile.sex %}
                                                    selected="selected"{% endif %}
                                            >{{ foo.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-right" style="margin-top: 8px;">
                                    <p><b>Date of birth</b></p>
                                </div>
                                <div class="col-md-7">
                                    {% render_field form.birth_day value=user_profile.birth_day %}
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-3 text-right" style="margin-top: 8px;">

                                </div>
                                <div class="col-md-7">
                                    <button type="submit" class="btn btn-my-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12" id="div-change-password">
                    <form method="POST">
                        {% csrf_token %}

                        {% for hidden_field in form_change_password.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                        {% if form_change_password.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form_change_password.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% for field in form_change_password.visible_fields %}
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-4 text-center" style="margin-top: 8px;">
                                    <p><b>{{ field.label_tag }}</b></p>
                                </div>
                                <div class="col-md-7">
                                    {% if form_change_password.is_bound %}
                                        {% if field.errors %}
                                            {% render_field field class="form-control is-invalid" %}
                                            {% for error in field.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field field class="form-control is-valid" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field field class="form-control" %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-md-4 text-right" style="margin-top: 8px;">
                            </div>
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-my-primary">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
                {% else %}
                    <div class="col-md-12" id="div-edit-profile">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3 text-right" style="margin-top: 8px;">
                                <p><b>First name</b></p>
                            </div>
                            <div class="col-md-7">
                                {% render_field form.first_name value=user_profile.user.first_name %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-right" style="margin-top: 8px;">
                                <p><b>Last name</b></p>
                            </div>
                            <div class="col-md-7">
                                {% render_field form.last_name value=user_profile.user.last_name %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-right" style="margin-top: 8px;">
                                <p><b>Email name</b></p>
                            </div>
                            <div class="col-md-7">
                                {% render_field form.email value=user_profile.user.email %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-right" style="margin-top: 8px;">
                                <p><b>Website</b></p>
                            </div>
                            <div class="col-md-7">
                                {% render_field form.website value=user_profile.website %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-right" style="margin-top: 8px;">
                                <p><b>Description</b></p>
                            </div>
                            <div class="col-md-7">
                                {% render_field form.description value=user_profile.description %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-right" style="margin-top: 8px;">
                                <p><b>Phone</b></p>
                            </div>
                            <div class="col-md-7">
                                {% render_field form.phone value=user_profile.phone %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-right" style="margin-top: 8px;">
                                <p><b>Sex</b></p>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" name="sex">
                                    {% for foo in form.sex.field.choices %}
                                        <option value="{{ foo.0 }}"
                                                {% if  foo.0  ==  user_profile.sex %}
                                                selected="selected"{% endif %}
                                        >{{ foo.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-right" style="margin-top: 8px;">
                                <p><b>Date of birth</b></p>
                            </div>
                            <div class="col-md-7">
                                {% render_field form.birth_day value=user_profile.birth_day %}
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-3 text-right" style="margin-top: 8px;">

                            </div>
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-my-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                     <div class="col-md-12" id="div-change-password" style="display: none;">
                    <form method="POST">
                        {% csrf_token %}

                        {% for hidden_field in form_change_password.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                        {% if form_change_password.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form_change_password.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% for field in form_change_password.visible_fields %}
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-4 text-center" style="margin-top: 8px;">
                                    <p><b>{{ field.label_tag }}</b></p>
                                </div>
                                <div class="col-md-7">
                                    {% if form_change_password.is_bound %}
                                        {% if field.errors %}
                                            {% render_field field class="form-control is-invalid" %}
                                            {% for error in field.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field field class="form-control is-valid" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field field class="form-control" %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-md-4 text-right" style="margin-top: 8px;">
                            </div>
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-my-primary">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>

                {% endif %}
            </div>
        </div>
    </div>


</div>


<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
