{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
     {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Sign up &centerdot; Instagram</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/home_page/custom-css-home-page.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        body {
            background: #FAFAFA;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="POST">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {% if form.is_bound %}
                            {% if field.errors %}
                                {% render_field field class="form-control is-invalid" %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field field class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary btn-submit">Update</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>